/* horinaja default */
.horinaja{
	overflow: hidden;
	position: relative;
	margin-bottom: 5px;
}	
.horinaja ul{
	position:relative;
	list-style:none outside none;
}
.horinaja ul li{
	background:transparent;
	display:block;
	top:0;
}
/* horinaja pagination */
/*ol.horinaja_pagination{height:60px;margin: 0 auto;position:relative;color:black;background:transparent;padding:5px 0 0 0;clear:both;}*/
ol.horinaja_pagination{
	/*position:relative;
	left:400px;
	top:-300px;
	color:black;
	background:transparent;
	padding:5px 0 0 0;*/
	clear:both;
	float:right;
	/*margin-top:-200px;
	margin-right:15px;*/
	position: absolute;
	right:25px;
}
ol.horinaja_pagination li{
	float:left;
	height:60px;
	display:block;
	color:black;
	z-index:9999;
}
ol.horinaja_pagination li a{
	height:30px;
	display:block;
	background:transparent;
	float:left;
	font-weight:bold;
	text-align:center;
	font-size:12px;
	padding: 10px 0 0 0;
	cursor:pointer;
}
#homeslide{
	height:auto;
	/*width:500px;ne depasse pas la taille du center column*/
	z-index:0;
}
.detail_image{
	border: 1px dotted;
}
.description{
	margin-left :20px;
	font-size:12px;
	font-weight:bold;
}