<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>quadragalleryslider</name>
	<displayName>Block Images Gallery Slider</displayName>
	<version>![CDATA[1]]</version>
	<description>Display a slider of uploaded images on the homepage</description>
	<author>![CDATA[Quadra Informatique]]</author>
	<tab></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>